// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');

$brand-color: #202029;

* {
	box-sizing: border-box;
	font-family: PT Sans;
	-webkit-print-color-adjust: exact;
}

.wrapper {
	margin: 20pt auto;
	width: 800pt;
	height: 428pt;
	overflow: hidden;
	background-color: #f5f5f5;
}

@media print {
	html, body, .wrapper {
		margin: 0;
	}
}

.left-col, .right-col {
	height: 400pt;
}

.left-col {
	background-color: $brand-color;
	padding: 150pt 60pt 0;
	float: left;

	img {
		width: 180pt;
		height: auto;
	}
}

.right-col {
	float: right;
	width: 500pt;
	padding: 20pt 30pt;

	.header {
		text-align: right;
		text-transform: uppercase;
		color: #999;

		.invoice-title {
			font-size: 50pt;
			margin-bottom: 10pt;
		}
	}
	.body {
		position: relative;
		padding-top: 30pt;
		font-size: 14pt;
		color: #777;
		height: 298pt;

		.to, .description {
			margin-bottom: 15pt;

			.value {
				padding-left: 60pt;
				padding-bottom: 4pt;
				text-transform: uppercase;
				background-image: repeating-linear-gradient(180deg, transparent, transparent 22pt, #999 23pt);
				line-height: 23pt;
			}

			&.description .title {
				margin-bottom: 10pt;
			}
		}

		.total {
			position: absolute;
			right: 0;
			bottom: 65pt;

			.subtitle {
				position: absolute;
				left: 0;
				bottom: -19pt;
				color: #aaa;
			}
		}
	}
}

.date, .total {
	border-bottom: 1px solid #aaa;
	display: inline-block;

	.title {
		margin-right: 80pt;
		color: #ccc;
	}
	&.total .title { color: #777; }
}

.footer {
	clear: both;
	float: none;
	padding: 5pt 10pt;
	color: #777;
	background-color: #d5d5d5;

	div { 
		display: inline-block; 
		margin-right: 20pt;
	}
	.invoice-number {
		float: right;
		margin-right: 0;
	}
}
